.empty-btn {
    float: right;
    margin-left:10px;
}
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{
    clear:left;
    overflow:hidden;
}
.clearfix{
    zoom:1;
}
.groceryList {
    position: relative;
    overflow-x: hidden;
    margin-top: 15px;
}
.groceryItem {
    font-size: 16px;
    cursor: default;
    color: #5c5c5c;
}
.groceryItem.pressed .groceryText {
    color: #ffffff;
}
.groceryItem input {
    margin: 0;
    padding: 0;
    border: none;
    color: #5c5c5c;
    background-color: inherit;
    width: 100%;
    outline: none;
}
.groceryItemComplete {
    background-color: #f3f3f3;
}
.groceryItem.pressed {
    background-color: #545454;
}
.groceryTextComplete {
    color: #9c9c9c;
    text-decoration: line-through;
}
.display-none {
    display: none;
}
.itemInput {
    top:8px;
    left:5px;
}
