.container {
    margin-top: 40px;
}

.top-bar {
    margin-bottom: 10px;
}

.top-bar .nav-btn{
    float: left;
    margin-right: 10px;
}

.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}

.clearfix:after{
    clear:left;
    overflow:hidden;
}

.clearfix{
    zoom:1;
}

.groceryList {
    position: relative;
    overflow-x: hidden;
    margin-top: 15px;
}

.groceryItem {
    font-size: 16px;
    cursor: default;
    color: #7f7f7f;
}

.groceryItem.pressed .groceryText {
    color: #ffffff;
}

.groceryItem input {
    margin: 0;
    padding: 0;
    padding-right: 20px;
    border: none;
    color: #5c5c5c;
    background-color: inherit;
    outline: none;
}

.groceryItemComplete {
    background-color: #f3f3f3;
}

.groceryItem.pressed {
    background-color: #545454;
}

.groceryTextComplete {
    color: #9c9c9c;
    text-decoration: line-through;
}

.display-none {
    display: none;
}

.itemInput {
    top:8px;
    left:5px;
}

.del-btn {
    position: absolute;
    right: 10px;
    margin-top: 12px;
    color: #5c5c5c;
}

.del-btn:hover, .del-btn:focus, .del-btn:active {
    color: #000000;
}

.sign-in-form {
    padding: 10px;
    overflow: hidden;
}

.sign-in-form div.form-group{
    margin-bottom: 10px;
}

.sign-in-form button{
    margin-left: 5px;
}
