.top-bar {
    margin-bottom: 10px;
}
.empty-btn {
    float: right;
}
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{
    clear:both;
    overflow:hidden;
}
.clearfix{
    zoom:1;
}
